%html
  %head
    %title 
      Homer Strong
    %script{ :type => "text/javascript", :src => "js/jquery-1.4.2.min.js" }
    %script{ :type => "text/javascript", :src => "js/jquery.lettering.js" }
    %script{ :type => "text/javascript", :src => "js/home_script.js" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "styles/style.css" }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Cardo&subset=latin', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #title
      Homer Strong
    #trunk
      #facts{ :class => "subtitle" }
        &raquo; In summary
      %ul
        %li
          Gainfully employed as a data engineer at Qmedtrix Systems
        %li 
          Got a degree in math from Reed College
        %li 
          Working on some open-source software projects
    #footer
      #details{ :class => "subtitle" }
        &raquo; For details
      %p
        Please contact </br></br>&nbsp;&nbsp;&nbsp;&nbsp;homerstrong <span class="email">at</span> gmail <span class="email">dot</span> com

        